In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [3]:
data=pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
## preprocess the data
## drop irrelevant columns
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [14]:
## encode categorical variables
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [5]:
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo=OneHotEncoder()
geo_encoder=onehot_encoder_geo.fit_transform(data[['Geography']])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [6]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [7]:
geo_encoder.toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [8]:
geo_encoded_df=pd.DataFrame(geo_encoder.toarray(),columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [9]:
if 'Geography' in data.columns:
    data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
else:
    data = pd.concat([data, geo_encoded_df], axis=1)

In [10]:
print(data.columns)  # Check if 'Geography' exists

Index(['CreditScore', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts',
       'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Exited',
       'Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype='object')

In [53]:
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [15]:
## save the encoders
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

In [16]:
## divide the data set into independent and dependent data set 
X=data.drop('Exited',axis=1)
y=data['Exited']

## spilit da data
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

##scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [12]:
X_train

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
9254,686,Male,32,6,0.00,2,1,1,179093.26,1.0,0.0,0.0
1561,632,Male,42,4,119624.60,2,1,1,195978.86,0.0,1.0,0.0
1670,559,Male,24,3,114739.92,1,1,0,85891.02,0.0,0.0,1.0
6087,561,Female,27,9,135637.00,1,1,0,153080.40,1.0,0.0,0.0
6669,517,Male,56,9,142147.32,1,0,0,39488.04,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
5734,768,Male,54,8,69712.74,1,1,1,69381.05,1.0,0.0,0.0
5191,682,Female,58,1,0.00,1,1,1,706.50,1.0,0.0,0.0
5390,735,Female,38,1,0.00,3,0,0,92220.12,1.0,0.0,0.0
860,667,Male,43,8,190227.46,1,1,0,97508.04,1.0,0.0,0.0
7270,697,Male,51,1,147910.30,1,1,1,53581.14,0.0,1.0,0.0

In [17]:
with open('scaler.pkl','wb')as file:
    pickle.dump(scaler,file)

In [18]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [19]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

WARNING:tensorflow:From c:\Users\SUMIT\Desktop\ann_project\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [20]:
## build our model
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1,activation='sigmoid')


])

WARNING:tensorflow:From c:\Users\SUMIT\Desktop\ann_project\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [21]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [22]:
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss=tensorflow.keras.losses.BinaryCrossentropy()
loss

In [23]:
##compile the model
model.compile(optimizer=opt,loss="binary_crossentropy",metrics=['accuracy'])

In [24]:
## set up the Tensorboard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

log_dir="logs/fit/" +datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [25]:
## set up Early stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [32]:
### train the model
history=model.fit(X_train,y_train,validation_data=(X_test,y_test),epochs=100,
                  callbacks=[tensorflow_callback,early_stopping_callback]
                  )

Epoch 1/100
WARNING:tensorflow:From c:\Users\SUMIT\Desktop\ann_project\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\SUMIT\Desktop\ann_project\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 2s 4ms/step - loss: 0.4026 - accuracy: 0.8329 - val_loss: 0.3614 - val_accuracy: 0.8510
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3559 - accuracy: 0.8534 - val_loss: 0.3469 - val_accuracy: 0.8605
Epoch 3/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3462 - accuracy: 0.8579 - val_loss: 0.3531 - val_accuracy: 0.8610
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3423 - accuracy: 0.8596 - val_loss: 0.3528 - val_accuracy: 0.8595
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3404 - accuracy: 0.8584 - val_loss: 0.3470 - val_accuracy: 0.8620
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3371 - accuracy: 0.8609 - val_loss: 0.3446 - val_accuracy: 0.8605
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3352 - accuracy: 0.8645 - val_loss: 0.3458 - val_accuracy: 0.8590
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3354 - accuracy: 0.8634 - val_loss: 0.3434 - val_accuracy: 0.8620
Epoch 9/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3325 - accuracy: 0.8618 - val_loss: 0.3481 - val_accuracy: 0.8630
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3321 - accuracy: 0.8651 - val_loss: 0.3611 - val_accuracy: 0.8600
Epoch 11/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3279 - accuracy: 0.8666 - val_loss: 0.3612 - val_accuracy: 0.8595
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3269 - accuracy: 0.8650 - val_loss: 0.3428 - val_accuracy: 0.8645
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3249 - accuracy: 0.8681 - val_loss: 0.3463 - val_accuracy: 0.8595
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3239 - accuracy: 0.8677 - val_loss: 0.3423 - val_accuracy: 0.8600
Epoch 15/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3202 - accuracy: 0.8680 - val_loss: 0.3535 - val_accuracy: 0.8545
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3222 - accuracy: 0.8684 - val_loss: 0.3694 - val_accuracy: 0.8580
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3187 - accuracy: 0.8699 - val_loss: 0.3557 - val_accuracy: 0.8545
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3139 - accuracy: 0.8701 - val_loss: 0.3640 - val_accuracy: 0.8565
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3116 - accuracy: 0.8704 - val_loss: 0.3488 - val_accuracy: 0.8565
Epoch 20/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3126 - accuracy: 0.8679 - val_loss: 0.3577 - val_accuracy: 0.8590
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3081 - accuracy: 0.8706 - val_loss: 0.3705 - val_accuracy: 0.8465
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3076 - accuracy: 0.8727 - val_loss: 0.3695 - val_accuracy: 0.8625
Epoch 23/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3076 - accuracy: 0.8714 - val_loss: 0.3659 - val_accuracy: 0.8565
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3031 - accuracy: 0.8710 - val_loss: 0.3715 - val_accuracy: 0.8520

In [26]:
model.save('model.h5')

c:\Users\SUMIT\Desktop\ann_project\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [27]:
## Load Tensorboard extension
%load_ext tensorboard

In [30]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 17732), started 3 days, 19:09:45 ago. (Use '!kill 17732' to kill it.)

In [ ]:
##load the pickle file